li {
    font-size: large;
}

div.panel-heading {
   font-size: x-large; 
}

.navbar-right { float: right !important; margin-right: 5px;}

.navbar-text { margin-right:10px;}

.error {
   color:red
}

ng-invalid
{
    background-color: lightpink;
}

ng-valid
{
    background-color: lightgreen;
}
