  <div class='navbar navbar-inverse'>
        <h1>
	        <a class='nav-brand' href='#'>Sportz Ur Way</a>
         </h1>
    </div>

    <shopping-cart></shopping-cart>

    <div class="panel panel-default row">
        <div class="col-xs-3">
            <a class='btn btn-primary btn-block btn-default btn-lg'>Home</a>
            More Categories Here
        </div>
        <div class="col-xs-8">
            <div class="well" >
                <h3>
                    <strong>Mike Emo Ng2 Presentation</strong>
                    <span class="pull-right label label-primary">
                       $20,916.95
                    </span>
                </h3>
         
                <!-- ADD TO CART BUTTON HERE -->
                <span class="lead">Best Presentaion Ever!</span>
                
                <!-- STARS RATING HERE -->
            </div>
        </div>
    </div>