  <div class='navbar navbar-inverse'>
        <h1>
	        <a class='nav-brand' href='#'>Sportz Ur Way</a>
         </h1>
    </div>

    <!-- SHOPPING CART HERE -->

    <div class="panel panel-default row">
        <div class="col-xs-3">
            <a class='btn btn-primary btn-block btn-default btn-lg'>Home</a>
            
             <a *ngFor='let category of products | productCategories' class="btn btn-block btn-default btn-lg btn-primary" >
                 {{ category }}
             </a>
        </div>
        <div class="col-xs-8">
             <div class="well" *ngFor='let product of products'>
                <h3>
                    <strong>{{ product.name }}</strong>
                    <span class="pull-right label label-primary">
                       {{ product.price | currency:'USD':true:'1.2-2' }}
                    </span>
                </h3>
               

                 <!-- ADD TO CART BUTTON HERE -->
                <span class="lead">{{ product.description }}</span>
                
                <!-- STARS RATING HERE -->
           </div>
        </div>
    </div>